# Archivo de configuración del set de pruebas para el algoritmo memético

# Para modificar una variable se debe colocar en el formato 'variable: valor'.
# Las variables tienen valores por defecto a excepción de las secuencias y configuraciones de entrada.

# proteins: XXXX (sin elementos por defecto) (las diferentes secuencias se deben separar por espacios)
proteins: 2PMR 1AIL 2P5K 1ROP 2JUC 1ENH 2P6J 3V1A 1AB1 3P7K 2P81 2MR9 2F4K 1Q2K 1DFN 1ACW 1WQC 2MTW 1L2Y 1K43

# if_download: True (descarga los pdb experimentales de las secuencias a evaluar)
if_download: False

# tests_by_protein: 1 (número de pruebas por secuencia/configuración)
tests_by_protein: 1

# tests_concurrent: 1 (número de pruebas ejecutadas en paralelo)
tests_concurrent: 1

# Para agregar una configuración colocar los valores de las variables en un bloque entre 'start config' y 'end config'.
# Se pueden agregar varias configuraciones distintas utilizando varios bloques.
# tree_levels: 1 (número de niveles del árbol).
# tree_nodes: 1 (número de nodos del árbol).
# max_agents: 1 (número máximo de agentes).
# num_pockets: 10 (número de pockets por agente).
# if_reset: True (especifica si utilizar control de reinicio)
# test_noimprove: 10 (número de generaciones sin mejoras antes el primer reinicio).
# energy_limit: 100000 (número máximo de evaluaciones de la función de energía).
start config:
tree_nodes: 2
tree_levels: 2
max_agents: 13
num_pockets: 10
if_reset: True
test_noimprove: 10
energy_limit: 1000000
end config
